{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Edit Product Details
{% endblock %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block content %}

    {% with product=orderitem.item %}
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{{ product.image.url }}" alt="Image" class="img-fluid">
          </div>

          <div class="col-md-6">
            <h2 class="text-black mr-2">{{ product.name }}</h2>
            <p>{{ product.description|linebreaks }}</p>
            <p><strong class="text-primary h4">₹{{ product.price }}</strong></p>
          </div>

          </div>
        </div>
      </div>
    </div>
    {% endwith %}

<div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading"> Edit Product Quantity</div>
                    <div class="panel-body">
            		{{form.as_p}}
            		<div class="col-md-6 col-md-offset-4">
                            <input type="submit" value="Save" class="btn btn-success">
                        </div>
                  
            		</div>
            	</div>
        	</div>
    	</form>
</div>

<div class="container">
	<div class = "col-md-8 col-md-offset-2">
        <div class = "panel panel-default">
        	<div class = "panel panel-body">
		        <div class = "col-md-6 col-md-offset-4">
		            <a href = "{% url 'order:cart' %}"><button class="btn btn-outline-primary">Back</button></a>
		        </div> 
    		</div>
		</div>
	</div>
</div>
{% endblock content %}

</html>
