    <footer class="site-footer border-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">gOOP Team</h3>
                        <ul class="list-unstyled">
                            <li>Mrunalini Ramnath - </li>
                            <li>Sriya Suri - </li>
                            <li>Pragya Sinha - </li>
                            <li>Satyaki Mandal - </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>